.badge{
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 17px ;
    color: white;
}